<!-- templates/tracker/register.html -->
{% extends "tracker/auth_base.html" %}
{% load static %}

{% block title %}Sign Up{% endblock %}

{% block form_content %}
    <h2>Join Today</h2>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="form-group">
            <button class="btn btn-primary btn-submit" type="submit">Sign Up</button>
        </div>
    </form>
    <div class="alt-action-link">
        <small class="text-muted">
            Already Have An Account? <a href="{% url 'login' %}">Sign In</a>
        </small>
    </div>
{% endblock form_content %}
